<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377125003095-de0734ds4t08qnuht3td6cse1bga0t2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377125003095-de0734ds4t08qnuht3td6cse1bga0t2d</string>
	<key>API_KEY</key>
	<string>AIzaSyBXn1EEA0W5BX_QKYZcmH25HHYi_A1oxqM</string>
	<key>GCM_SENDER_ID</key>
	<string>377125003095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.jessiG.AniPlay</string>
	<key>PROJECT_ID</key>
	<string>aniplay-795ad</string>
	<key>STORAGE_BUCKET</key>
	<string>aniplay-795ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377125003095:ios:eb65e5781078fe9f72a812</string>
	<key>DATABASE_URL</key>
	<string>https://aniplay-795ad.firebaseio.com</string>
</dict>
</plist>